<div class="container">
    <div class="row">
      <div class="col-md-14">
        <div class="redirect-failed-page">
            <div class="row">
                <div class="col-md-3 text-center">
                    <img src="assets\icons\maintenance.png" alt="landing-icon" class="icon">
                </div>
                <div class="col-md-9">
                    <div class="redirect-failed-page">
                        <p class="title">{{ 'maintenance.title' | translate }}</p>
                        <div class="subTitle-desktop">
                          <ul class="subTitle">
                              <li>
                              {{ 'maintenance.subtitle1' | translate : {endTime: endTime} }} 
                              </li>
                              <li>
                              {{ 'maintenance.subtitle2' | translate }}
                              </li>
                          </ul>
                        </div>
                        <div class="subTitle-mobile">
                          <ul class="subTitle">
                            <li>
                            {{ 'maintenance.subtitle1' | translate : {endTime : endTime} }}
                            </li>
                            <li>
                            {{ 'maintenance.subtitle2' | translate }}
                            </li>
                          </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="line-content"></div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="redirect-failed-page">
              <p class="supportTitle">{{ 'maintenance.support-title' | translate }}</p>
              <p class="description">{{ 'maintenance.insured-support' | translate }}</p>
            </div>
          </div>
          <div class="col-md-6 contact-form">
            <div class="row">
              <div class="col-md-6">
                <div class="redirect-failed-page">
                  <p class="contact">Hotline</p>
                  <p class="subContact">1900 1776</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="redirect-failed-page">
                  <p class="contact">{{ 'maintenance.manu-connect' | translate }}</p>
                  <a class="subContact" href="https://hopdongcuatoi.manulife.com.vn/">hopdongcuatoi.manulife.com.vn</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="redirect-failed-page">
                  <p class="contact">Website</p>
                  <a class="subContact" href="https://www.manulife.com.vn/">www.manulife.com.vn</a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="redirect-failed-page">
                  <p class="contact">Email</p>
                  <span class="subContact" href="">khachhang@manulife.com</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>