<div class="winding-operation-popup">
  <!-- Header -->
  <div class="popup-header">
    <h2 mat-dialog-title>{{ getComponentTitle() }} - {{ windingData.kyhieubangve }}</h2>
    <button mat-icon-button (click)="onClose()" class="close-button">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <!-- Content -->
  <mat-dialog-content class="popup-content">
    <div class="winding-info">
      <div class="info-row">
        <span class="label">Công suất:</span>
        <span class="value">{{ bangVeData.congsuat }} KVA</span>
        <span class="label">TBKT:</span>
        <span class="value">{{ bangVeData.tbkt }}</span>
      </div>
      <div class="info-row">
        <span class="label">Điện áp:</span>
        <span class="value">{{ bangVeData.dienap }} KV</span>
        <span class="label">Số bối dây:</span>
        <span class="value">{{ bangVeData.soboiday }}</span>
      </div>
    </div>

    <!-- Dynamic Component Rendering -->
    <div class="component-container">
      <div class="component-wrapper">
        <ng-container #componentContainer></ng-container>
      </div>
    </div>
  </mat-dialog-content>

  <!-- Footer -->
  <mat-dialog-actions class="popup-footer">
    <button mat-button (click)="onClose()" class="cancel-button">
      <mat-icon>cancel</mat-icon>
      Đóng
    </button>
    <button 
      *ngIf="isEditMode()" 
      mat-raised-button 
      color="primary" 
      (click)="onSave()" 
      class="save-button">
      <mat-icon>save</mat-icon>
      Lưu
    </button>
  </mat-dialog-actions>
</div>
