@use 'sass:map';
@use '@angular/material' as mat;

@mixin manulife-checkbox($theme) {
    // Get the color config from the theme.
    $color-config: mat.get-color-config($theme);
  
    // Get the primary color palette from the color-config.
    $primary-palette: map.get($color-config, 'primary');
  
    .mat-checkbox {
        &:hover {
            .mat-checkbox-ripple {
                .mat-ripple-element {
                    background: mat.get-color-from-palette($primary-palette, A100) !important;
                }
            }
        }
    }
    .mat-checkbox-inner-container{
        width: 30px !important;
        height: 30px !important;
    }
    .mat-checkbox-indeterminate,
    .mat-checkbox-checked {
        &.mat-accent {
            .mat-checkbox-background {
                border: 2px solid mat.get-color-from-palette($primary-palette, A100) !important;
                background-color: mat.get-color-from-palette($primary-palette, A200) !important;
            }
        }
    }

    .mat-checkbox-checkmark-path {
        stroke: mat.get-color-from-palette($primary-palette, A100) !important;
    }
}

@mixin typography($theme) {
    // Get the typography config from the theme.
    $typography-config: mat.get-typography-config($theme);
  
    .mat-mdc-checkbox {
      font-family: mat.font-family($typography-config);
    }
}

@mixin theme($theme) {
    $color-config: mat.get-color-config($theme);
    @if $color-config != null {
      @include manulife-checkbox($theme);
    }
  
    // $typography-config: mat.get-typography-config($theme);
    // @if $typography-config != null {
    //   @include typography($theme);
    // }
}

