<div class="component-page">
    <h1>{{'components.title' | translate}}</h1>
    <div class="component-item">
        <app-slider [canRender]='canRenderCarousel'></app-slider>
    </div>
    <div class="component-item">
        <div class="buttons">
            <h2>Buttons</h2>
            <div class="primary-buttons">
                <h3>Primary</h3>
                <button mat-flat-button color="primary">Primary</button>
                <button mat-flat-button color="primary" disabled>Primary</button>
    
                <button mat-flat-button color="primary" class="small">Primary</button>
                <button mat-flat-button color="primary" class="small" disabled>Primary</button>
            </div>
    
            <div class="secondary-buttons">
                <h3>Secondary</h3>
                <button mat-flat-button color="secondary">Secondary</button>
                <button mat-flat-button color="secondary" disabled>Secondary</button>
    
                <button mat-flat-button color="secondary" class="small">Secondary</button>
                <button mat-flat-button color="secondary" class="small" disabled>Secondary</button>
            </div>
    
            <div class="tertiary-buttons">
                <h3>Tertiary</h3>
                <div class="buttons">
                    <button mat-flat-button color="tertiary">Tertiary</button>
                    <button mat-flat-button color="tertiary" disabled>Tertiary</button>
        
                    <button mat-flat-button color="tertiary" class="small">Tertiary</button>
                    <button mat-flat-button color="tertiary" class="small" disabled>Tertiary</button>
                </div>
            </div>
        </div>
    </div>
    <div class="component-item">
        <div class="expansion-panel">
            <h2>Expansion Panel</h2>
            <div class="expansion-panel-example">
            </div>
        </div>
    </div>
</div>